
<div class = "container_footer">
    <div class = "row_footer">
        <div class = "footer_col">
            <h4>Author</h4>
            <ul>
                <li><a href="#">about</li></a>
                <li><a href="#">git</li></a>
            </ul>
        </div>
        <div class = "footer_col">
            <h4>Contact</h4>
            <ul>
                <li><a href="#">Adress</a></li>
                <li><a href="#">Phone</a></li>
                <li><a href="#">Social</a></li>
            </ul>
        </div>
        <div class = "footer_col">
            <h4>Contact</h4>
            <ul>
                <li><a href="#">Adress</a></li>
                <li><a href="#">Phone</a></li>
                <li><a href="#">Social</a></li>
            </ul>
        </div>
        <div class = "footer_col">
            <h4>follow us</h4>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                
            </div>
        </div>
    </div>
</div>
