{%extends "model-page.html"%}
{%block content%}
<div class = "mid">
    <div class = "container_mid" id="reg">
        <h2>Register</h2>
          <form method="POST">
              <div class="form-item">
                  <span class="material-icons">label</span>
                  {{form.hidden_tag()}}
                  {{form.name.label}}{{form.name()}}

                </div>
              <div class="form-item">
                  <span class="material-icons">label</span>
                  {{form.hidden_tag()}}
                  {{form.email.label}}{{form.email()}}

                </div>
              <div class="form-item">
                  <span class="material-icons">label</span>
                  {{form.hidden_tag()}}
                  <label for="pass">password:</label>
                  <input type="password" id="pass" name="password"
           minlength="4" required>
              </div>
              <br>
              <button type="submit" {{form.submit()}} SEND </button>

          </form>

    </div>
</div>

{%endblock%}