{%extends "model-page.html"%}
{%block content%}
<div class = "mid">
    <div class = "container_mid" id="reg">
        <h2>Works</h2>
        {% if not active%}
            <form action="" method="POST">
               <p>Usuário: {{name}}</p>
               <div class="form-item">
               <span class="material-icons">label</span>
                  {{form.hidden_tag()}}
                  {{form.name.label}}{{form.name()}}
                </div>
               <br>
             <button type="submit"> SEND </button>
           </form>

             {%else%}
            <form action="" method="POST">
            <div class="form-item">
             <span class="material-icons">label</span>
              {{form.hidden_tag()}}
              {{form.name.label}}{{form.name()}}
               <br>
            </div>
             <button type="submit" {{form.submit()}} SEND </button> <br>
            <h1>Trabalhando!!!</h1>
            {% endif %}
            </form>

    </div>
</div>

{%endblock%}