{%extends "model-page.html"%}
{%block content%}



<div class = "mid">
    <div class = "container_mid" id="reg">
        <h2>Register</h2>
          <form action="" method="post">
              <div class = "row_mid">
                <div class="form-item">
                  <span class="material-icons">castle</span>
                    <input type="text" name="company" id=user placeholder="Company Name">
                </div>

                <div class="form-item">
                  <span class="material-icons">assignment</span>
                    <input type="text" name="user" id=user placeholder="Admin">
                </div>

                <div class="form-item">
                  <span class="material-icons">call</span>
                    <input type="text" name="user" id=user placeholder="Phone">
                </div>

                <div class="form-item">
                  <span class="material-icons">label</span>
                    <input type="text" name="user" id=user placeholder="CNPJ">
                </div>

                <div class="form-item">
                  <span class="material-icons">account_box</span>
                    <input type="text" name="user" id=user placeholder="Email">
                </div>
             
                <div class="form-item">
                  <span class="material-icons">lock</span>
                    <input type="password" name="pass" id=pass placeholder="password">
                </div>
                
              </div>
              <br>
              <button type="submit">Start</button>
          </form>

    </div>
</div>

{%endblock%}