{%extends "model-page.html"%}
{%block content%}
        <div class = ".container_main">
            <div class = "row_main">
                <div class = "main_col">
                    <h1>main</h1>
                    <ul>
                    </ul>
                </div>
            </div>
            <div class = "main_col">
                <form class = "form" method = "post">
                    {{form.hidden_tag()}}
                    {{form.work_begin.label}}{{form.work_begin}}
                    {{form.home_office.label}}{{form.home_office}}
                    {{form.mood.label}}{{form.mood}}
                    {{form.feedback.label}}{{form.feedback}}
                    <br>
                    {{form.submit()}}
                 </form>

            </div>
        </div>
{%endblock%}